* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.navbar {
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left a img {
  height: 30px;
  vertical-align: middle;
}

.nav-left ul li,
.nav-right ul li {
  display: inline-block;
  padding-right: 40px;
}

.nav-left ul li a,
.nav-right ul li a {
  font-size: 20px;
}

.nav-left ul li a:hover,
.nav-right ul li a:hover {
  color: black;
}

.nav-right .dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 50px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 15px 15px;
  margin-top: 10px;
}

.dropdown-content ul {
  display: inline-block;
}

.dropdown-content ul li {
  display: block;
  padding: 10px 0;
  padding-right: 40px;
}

.active {
  display: block;
}

.dropdown-content ul li a {
  color: #a4a4a4;
  font-size: 18px;
  white-space: nowrap;
}

.first .dropdown-content ul li:first-child a {
  color: #ced5db;
  font-size: 18px;
  white-space: nowrap;
}

.first .dropdown-content ul li:nth-child(n+2) a {
  color: #a4a4a4;
  font-size: 18px;
  white-space: nowrap;
}

.first .dropdown-content ul li:nth-child(n+2) a:hover {
  color: black;
}

.grey {
  color:#8E9091;
}

.black {
  color: black;
}

.list-reset {
  text-decoration: none;
  list-style: none;
}

.fas {
  margin-right: 5px;
  color: #CED5DB;
}

button {
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

#logIn {
  background-color: #EBEBEB;
  color: #000000;
}

#getApp{
  background-color: black;
  color: #fff;
}
